{% extends 'main.html' %}

{% block content %}
  <style>
    .lay{
      width: 90%;
      max-width: 48rem;
      min-height: 40rem;
      background-color: var(--color-dark);
      border-radius: 1rem;
      box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
      min-width: 40%; 
      margin: auto; 
      margin-top: 20px;
    }
  </style>

  {% if page == 'login' %}
    <div class="lay">
      <h3 style="background-color: var(--color-dark-light); padding: 1rem; text-transform: uppercase; text-align: center; font-size: 2.2rem; border-radius: 15px 15px 0 0;">Login</h3>
      <div class="layout__body">
        <h2 class="auth__tagline">Find your study partner</h2>
        <form class="form" action="" method="POST">
          {% csrf_token %}
          <div class="form__group form__group">
            <label for="room_name">Email</label>
            <input id="username" name="email" type="email" placeholder="example@email.com" />
          </div>

          <div class=" form__group">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
          </div>

          <button class="btn btn--main" type="submit">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>lock</title>
              <path d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z"></path>
              <path d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z"></path>
            </svg>
            Login
          </button>
        </form>

        <div class="auth__action" style="display: flex; flex-direction: column; align-items: center; padding: 15px 0;">
          <div style="height: 20px;">
            {% if messages %}
              {% for message in messages %}
                <p class="messages" style="color:red">{{ message }}</p>
                <script>
                  setTimeout( () => {
                    document.querySelector('.messages') ? document.querySelector('.messages').remove() : '' 
                  }, 3000);
                </script>
              {% endfor %}
            {% endif %}
          </div>
          <p>Don't have an account?</p>
          <a href="{% url 'register' %}" class="btn btn--link">Register</a>
        </div>
      </div>
    </div>
  {% else %}
    <div class="lay">
      <h3 style="background-color: var(--color-dark-light); padding: 1rem; text-transform: uppercase; text-align: center; font-size: 2.2rem; border-radius: 15px 15px 0 0;">Register</h3>
      <div class="layout__body">
        <h2 class="auth__tagline">Find your study partner</h2>

        <form class="form" action="" method="POST" style="margin: 0;">
          {% csrf_token %}

          {% for field in form %}
          <div class="form__group form__group">
            <label for="room_name">{{field.label}}</label>
            {{field}}
          </div>
          {% endfor %}

          <button class="btn btn--main" type="submit">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>lock</title>
              <path d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z">
              </path>
              <path d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z"></path>
            </svg>
            Register
          </button>
        </form>

        <div style="display: flex; flex-direction: column; align-items: center; padding: 15px 0;">
          <p>Have an account?</p>
          <a href="{% url 'login' %}" class="btn btn--link">Login</a>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}