{% extends 'main.html' %}

{% block content %}
<main class="layout layout--3" style="height: 100%; background-color: transparent;">
  <div class="container">
    {% include 'base/topics_component.html' %}

    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="{{user.avatar.url}}" />
          </div>
        </div>
        <div class="profile__info">
          <h3>{{user.name}}</h3>
          <p>@{{user.username}}</p>
          {% if request.user == user %}
          <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
          {% endif %}
        </div>
        <div class="profile__about">
          <h3>About</h3>
          <p>
            {{user.bio}}
          </p>
        </div>
        {% if request.user.id == user.id %}
          <div class="profile__about" style="display: flex;">
            <h3 style="margin-right: 15px;">Email</h3>
            <p>
              {{user.email}}
            </p>
          </div>
        {% endif %}
      </div>

      <div class="roomList__header">
        <div>
          <h2>Study Rooms Hosted by {{user.name}}</a>
          </h2>
        </div>
      </div>
      {% include 'base/feed_component.html' %}
    </div>

    {% include 'base/activity_component.html' %}
  </div>
</main>
{% endblock content %}